body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.home {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

.background-image {
    position: relative;
}

.background-image img {
    width: 100%;
}

#kipchoge {
    position: absolute;
    left: 0%;
    z-index: 2;
}

@keyframes dropIn {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
#HPC-logo {
    position: fixed;
    left: 0px;
    z-index: 1;
    animation: dropIn 3s ease-in-out;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}


.home-text {    
    position: absolute;
    top: 20%;
    left: 70%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
#join {
    font-family: 'PT Serif', serif;
    font-weight: 1;
    font-size: 67px;
    margin-bottom: 0px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    animation: fadeIn 2s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.join-button {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: -100px;
}

.join-button:hover {
    cursor: pointer;
    border-bottom: 3px solid white;
    transition: border-bottom 0.3s ease-in-out;
}


.pursue-text h1 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 63px;
    font-weight: 1;
    margin-bottom: 10px;
}

.home-text h1 {
    color: white;
}

.more {
    display: block;
}

.more a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1400px) and (min-width: 1000px) {
    .background-image img {
        width: 1400px;
    }
}

body::after {
    content: "";
    display: block;
    height: 50px;
}